.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.input__box {
    width: 100%;
    border-radius: 3.125rem;
    padding: 1.25rem 1.875rem;
    font-size: 1.6rem;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.input__box:focus {
    box-shadow: 0 0 1rem 63rem rgba(0, 0, 0, 0.5);
    outline: none;
}
.input_submit {
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0.75rem;
    border-radius: 3.125rem;
    right: 0;
    border: none;
    font-size: 1rem;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
.input_submit:hover {
    background-color: #388ae2;
    transform: scale(1.1);
}
.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.toDos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    flex-direction: wrap;
}
.toDos__single {
    display: flex;
    align-items: center;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url('https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg');
    transition: 0.2s;
}
.toDos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    background-color: transparent;
}
.toDos__single--text:focus {
    outline: none;
}
.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
@media (max-width: 1000px) {
    .toDos__single {
        width: 45%;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .toDos {
        width: 95%;
    }
    .toDos__single {
        width: 95%;
    }
}
