@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: 'Neucha', cursive;
}
.heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: white;
    z-index: 1;
    text-align: center;
}
@media (max-width: 50rem) {
    .heading {
        margin: 1rem 0;
        font-size: 2.2rem;
    }
}
